<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .right {text-align:right}
    .box {height:1em}
    body {letter-spacing: 0.2em}
    .green { color: green}
    .eq { border-top: 5px solid black }
    [data-op="*"] { font-size: x-large; color: red}
    [data-op="^"] { font-size: xx-large; color: darkred}
    [data-op="/"] { color: purple }
  </style>
</head>

<body>
  <div id="app">
    <div style="width:50%;border: 1px solid;padding: 5px; display:inline-block">
      <div id="previous" style="text-align:right">{{ previous }}</div>

      <div class="right">
	<span id="op" class="box" style="min-width:9%;" :data-op="op">{{ op == '/' ? '÷' : op }}</span>
	<span id="current" class="box" style="display:inline-block; min-width:90%; border:1px dotted; height:1em"
	      tabindex="0"
	      @keydown="handle"
	      @keydown.111.prevent="handle">
	  {{ current.toLocaleString('fullwide', {useGrouping:false}) }}
	</span>
      </div>

      <hr v-bind:style="{width: 'calc(' + numlength + '*2ch)'}" align="right" />

      <div id="total" class="right" v-html="$options.filters.colorify(total, formatOpt)"></div>
    </div>

    <div style="margin-left:10%; width:35%;border: 1px dotted; padding: 5px;display:inline-block;vertical-align: top;">
      <table class="right" id="history" border="1" v-html="showHistory"></table>
    </div>
  </div>

  <script src="./s.js"></script>
